version: "3.8"
services:
  app:
    build:
      args:
        user: sammy
        uid: 1000
      context: ./
      dockerfile: Dockerfile
    image: invista
    container_name: invista-app
    restart: unless-stopped
    working_dir: /var/www/
    volumes:
      - ./:/var/www
      - ./docker-compose/app/php.ini:/usr/local/etc/php/php.ini:z
    networks:
      - invista
  supervisor:
    build:
      context: ./docker-compose/worker
      dockerfile: Dockerfile
    image: supervisor
    container_name: invista-worker
    restart: unless-stopped
    volumes:
      - ./:/var/www
      - ./docker-compose/worker/invista.conf:/etc/supervisor/invista.conf
    networks:
      - invista
    command:
      - /bin/sh
      - -c
      - supervisord -c /etc/supervisor/invista.conf
      - supervisorctl start all
  db:
    image: mysql:latest
    container_name: invista-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    ports:
      - "33061:3306"
    volumes:
      - mysqldbvolume:/var/lib/mysql
      - mysqldbvolume:/var/log/mysql
    networks:
      - invista
  nginx:
    image: nginx:stable-alpine
    container_name: invista-nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./docker-compose/nginx:/etc/nginx/conf.d
    networks:
      - invista
  mailhog:
    image: mailhog/mailhog
    container_name: invista-smtp
    restart: unless-stopped
    logging:
      driver: none
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - invista
networks:
  invista:
    driver: bridge
volumes:
  mysqldbvolume:
    driver: local