@import "~filepond/dist/filepond.min.css";
@import "~filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

progress {
    border-radius: 7px;
}
progress::-webkit-progress-bar {
    background-color: lightgray;
    border-radius: 7px;
}
progress::-webkit-progress-value {
    background-color: darkorange;
    border-radius: 7px;
}
progress::-moz-progress-bar {
    /* style rules */
}

.form-input {
    @apply border rounded-lg px-3 py-2 appearance-none focus:outline-none
}

[x-cloak] { display: none !important; }
