@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

progress {
    border-radius: 7px;
}
progress::-webkit-progress-bar {
    background-color: lightgray;
    border-radius: 7px;
}
progress::-webkit-progress-value {
    background-color: darkorange;
    border-radius: 7px;
}
progress::-moz-progress-bar {
    /* style rules */
}
