@import "~filepond/dist/filepond.min.css";
@import "~filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css";
@import "~pikaday/css/pikaday.css";
@import "~select2/dist/css/select2.min.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

progress {
    border-radius: 7px;
}
progress::-webkit-progress-bar {
    background-color: lightgray;
    border-radius: 7px;
}
progress::-webkit-progress-value {
    background-color: darkorange;
    border-radius: 7px;
}
progress::-moz-progress-bar {
    /* style rules */
}

.loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

[x-cloak] { display: none !important; }
